@model BlackDragon.TimeSheets.Mvc.Models.SearchProfileModel
@{
    ViewBag.Title = "View1";
}
<h2>
    Search</h2>
@{using (Html.BeginForm())
  {
      @Html.LabelFor(x => x.Query);
      @Html.EditorFor(x => x.Query);
      @Html.ValidationMessageFor(x => x.Query);
  }
    <button type="submit">
        Search</button>
}
<table id="user-index">
    @foreach (var result in Model.Results)
    {
        <tr>
            <td>
                @Html.ActionLink(result.FullName, "View",
                    "Profile", new { userName = result.UserName }, null)
            </td>
        </tr>
    }
</table>
